body{
margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(135deg,#ff9a9e,#fad0c4);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.contenedor{
background:white;
padding:40px;
border-radius:20px;
text-align:center;
width:420px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
color:#e91e63;
}

.nombre{
color:#ff4081;
font-size:26px;
margin-bottom:20px;
}

.mensaje{
font-size:18px;
color:#444;
}

.mensaje2{
margin-top:15px;
font-size:17px;
color:#555;
}

.mensaje3{
margin-top:20px;
font-size:20px;
font-weight:bold;
color:#e91e63;
}

.firma{
margin-top:25px;
font-weight:bold;
color:#e91e63;
}
.foto{
width:100%;
max-width:250px;
height:auto;
border-radius:15px;
margin:15px 0;
}